# Ignore folders of Maven or Gradle
/target/
/build/
/.gradle/
/.mvn/
/mvnw
/mvnw.cmd

# Ignore folders of local dependencies
/.m2/
/~/.gradle/

# Ignore files configiration for IDE
/.idea/
/.vscode/
*.iml
.project
.classpath

# Ignore logs and testing report
*.log
/target/test-logs/
/target/surefire-reports/

# Temporal files generated
*.xml
!pom.xml
!logback-test.xml
*.csv
*.txt